<ion-header>
  <ion-navbar>
    <ion-title>
      Water Management with KALP !
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <p>
    Select the amount of water needed in your Industry :
  </p>

  <form (ngSubmit) = "saveUsers()">

  <ion-item>
    <ion-label>Amount of water needed</ion-label>
    <ion-select [(ngModel)]="members" name="members">
      <ion-option value="1">1000l</ion-option>
      <ion-option value="2">2000l</ion-option>
      <ion-option value="3">3000l</ion-option>
      <ion-option value="4">4000l</ion-option>
      <ion-option value="5">5000l</ion-option>
      <ion-option value="6">6000l</ion-option>
      <ion-option value="7">7000l</ion-option>
      <ion-option value="8">8000l</ion-option>
      <ion-option value="9">9000l</ion-option>
      <ion-option value="10">10000l</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label floating>Industry Name :</ion-label>
    <ion-input type="text" [(ngModel)] = "name" name = "name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Summary :</ion-label>
    <ion-input type="text" [(ngModel)] = "summary" name = "summary"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label floating>Type of Industry :</ion-label>
    <ion-input type="text" [(ngModel)] = "type" name = "type"></ion-input>
  </ion-item>

  <br><br><br><br>

  <button ion-button large round type="submit" (click) = "showToast()">Request Water</button>
  
</form>

</ion-content>
