<ion-header>
  <ion-navbar>
    <ion-title>
      Water Management with KALP !
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- <center><p>this is in center :</p></center> -->
  
  <p align="center" class="pading">
  
    <button ion-button large round (click)="openModaluser()">Home Purpose</button>
    
  </p>

  <p align="center" class="padeing">

    <button ion-button large round (click)="openModalindustry()">Industry Purpose</button>
    
  </p>
</ion-content>
