<ion-header>
  <ion-navbar>
    <ion-title>
      Water Management with KALP !
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <p>
    Select the number of members who need's Water :
  </p>

  <form (ngSubmit)="saveUsers()">

    <ion-item>
      <ion-label>Members</ion-label>
      <ion-select [(ngModel)]="members" name="members">
        <ion-option value="1">01</ion-option>
        <ion-option value="2">02</ion-option>
        <ion-option value="3">03</ion-option>
        <ion-option value="4">04</ion-option>
        <ion-option value="5">05</ion-option>
        <ion-option value="6">06</ion-option>
        <ion-option value="7">07</ion-option>
        <ion-option value="8">08</ion-option>
        <ion-option value="9">09</ion-option>
        <ion-option value="10">10</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>User Name :</ion-label>
      <ion-input type="text" [(ngModel)]="name" name="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Summary :</ion-label>
      <ion-input type="text" [(ngModel)]="summary" name="summary"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>Area :</ion-label>
      <ion-input type="text" [(ngModel)]="area" name="area"></ion-input>
    </ion-item>

    <br>
    <br>
    <br>
    <br>

    <button ion-button large round type="submit" (click) = "showToast()">Request Water</button>

  </form>

</ion-content>
